<?xml version="1.0"?>
<config>
    <modules>
        <Kirchbergerknorr_Importer>
            <version>0.0.1</version>
        </Kirchbergerknorr_Importer>
    </modules>
    <global>
        <models>
            <kirchbergerknorr_importer>
                <class>Kirchbergerknorr_Importer_Model</class>
            </kirchbergerknorr_importer>
        </models>
        <helpers>
            <kirchbergerknorr_importer>
                <class>Kirchbergerknorr_Importer_Helper</class>
            </kirchbergerknorr_importer>
        </helpers>
    </global>
</config>